
/* estilos.css */
.btn, .btn-large {
  border-radius: 25px !important;
}

.card {
  border-radius: 20px !important;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-bottom: 2px solid #ec407a !important;
  box-shadow: 0 1px 0 0 #ec407a !important;
}
